.DS_Store
results/
benchmarks/
logs/
stats/
ref/
results/
test/
.snakemake
.vscode/
*.pyc
.mypy_cache

# fusilli-multiqc build artifacts
fusilli-multiqc/build/
fusilli-multiqc/dist/
fusilli-multiqc/*.egg-info/
fusilli-multiqc/.eggs/